extends layout

block content
    h1 #{title}
    form(method='POST', action='/users/checkin')
        #form-group
            label Hotel:
            select.form-control(name='hotelName')
                each hotel, i in hotels
                    option(value=hotel.hotelName) #{hotel.hotelName}
        #form-group
            label First Name:
            input.form-control(name='firstName', type='text', value=currentUser.firstName, disabled)
        #form-group
            label Last Name:
            input.form-control(name='lastName', type='text', value=currentUser.lastName, disabled)
        #form-group
            label ID:
            input.form-control(name='userID', type='text', value=currentUser.userID, disabled)
        #form-group
            label Email:
            input.form-control(name='email', type='text', value=currentUser.email, disabled)
        #form-group
            label Check-In Date:
            input.form-control(name='checkInDate', type='date')
        #form-group
            label Check-Out Date:
            input.form-control(name='checkOutDate', type='date')
        #form-group
            label Status:
            select.form-control(name='status')
                option(value="single") Single
                option(value="couple") Couple
                option(value="family") Family 
        #form-group
            label Number of guests:
            select.form-control(name='numOfGuests')
                option(value="1") 1
                option(value="2") 2
                option(value="3") 3
                option(value="4") 4
                option(value="5") 5
                option(value="6") 6 
                option(value="7") 7
                option(value="8") 8
                option(value="9") 9   
        #form-group
            label Number of rooms:
            select.form-control(name='numOfRooms')
                option(value="1") 1
                option(value="2") 2
                option(value="3") 3
                option(value="4") 4
        #form-group
            label Room type:
            select.form-control(name='roomType')
                option(value="standard") Standard
                option(value="suite") Suite 
        #form-group
            label Purpose:
            select.form-control(name='purpose')
                option(value="vacation") Vacation
                option(value="business") Business     
        #form-group
            p.confirm
                input(type="checkbox", name="TandC", href="https://www.termsfeed.com/terms-conditions/7efa27e36727eb388c997dac23bf5cba")
                | I agree to the Terms & Conditions of this Company
       
        br
        input.btn.btn-primary(type='submit', value='Submit')