extends layout

block content

  .row
    .col-md-6
      h1 Welcome to #{hotel.hotelName}
      h4.subheading About us
      p.text-muted Address: #{hotel.location}
      p.text-muted Phone Number: #{hotel.phoneNum}
      p.text-muted Fax Number: #{hotel.faxNum}
      p.text-muted Check-In Time: #{hotel.checkinTime}
      p.text-muted Check-Out Time: #{hotel.checkoutTime}
