extends layout

block content

  h1= title
  p Welcome to #{title}
  p Hotel Name: #{hotel.hotelName}
  p Location: #{hotel.location}
  p Phone Number: #{hotel.phoneNum}
  p Fax Number: #{hotel.faxNum}
  p Check-In Time: #{hotel.checkinTime}
  p Check-Out Time: #{hotel.checkoutTime}