extends layout

block content
  h1= title
  p Welcome to #{title}

  table.table.table-striped
    tr
      th Hotel name
      th Check-In
      th Check-Out

    each guest in guests
      tr
        td= guest.hotelName
        td= guest.checkInDate
        td= guest.checkOutDate